table {
    border-collapse: collapse;
}

tr:first-child {
    position: sticky;
    top: 0;
}

tr:first-child th {
    text-align: center;
    background-color: #ddd;
    background-clip: padding-box;
}

th,
td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

#p-input-error:empty {
    display: none;
}
