:root {
    font-family: system-ui;
    font-size: 1.1em;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

.error {
    color: red
}

#p_input_error:blank {
    display: none;
}