:root {
    font-family: system-ui;
    font-size: 1.1em;
}

table {
    border-collapse: collapse;
}

th,
td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

.error {
    color: red
}

#p-input-error:empty {
    display: none;
}
