@use 'const';

#p-input-error:empty {
    display: none;
}

#section-results {
    display: grid;
    grid-auto-flow: column;
    column-gap: 1em;
}

table {
    border-collapse: collapse;
    height: fit-content;
    width: fit-content;
}

caption {
    background-color: const.$color-border;
    padding: .5em;
    border: 1px solid black;
}

th,
td {
    border: 1px solid black;
    padding: .5em;
    text-align: left;
}

tr {
    /* 1em: base text height. 1em: vertical padding. 1em: confort spacing */
    scroll-margin-top: 3em;

    &:first-child {
        position: sticky;
        top: 0;

        th {
            text-align: center;
            background-color: const.$color-border;
            background-clip: padding-box;
        }
    }
}

#list-warning-actions {
    li:nth-child(1) {
        list-style-image: url(../img/cross.svg);
    }

    li:nth-child(2) {
        list-style-image: url(../img/indeterminate.svg);
    }

    li:nth-child(3) {
        list-style-image: url(../img/check.svg);
    }
}